<section class="project section">
  <div class="project__bg">
    <div class="project__container container grid">
      <div class="project__data">
        <h2 class="project_title">You have a new project?</h2>
        <p class="project__description">Contact me now!</p>
        <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="button button--flex button--white">
          Contact Me
          <i class="uil uil-message project__icon button__icon"></i>
        </a>
      </div>
      <img src="assets/img/profilepic.png" class="project__img" >
    </div>
  </div>
</section>
