<section class="about section" id="about">
  <h2 class="section__title">About Me</h2>
  <span class="section__subtitle">My Introduction</span>

  <div class="about__container container grid">
    <img src="assets/img/aboutme.jpg" alt="" class="about__img">

    <div class="about__data">
      <p class="about__description">
        Web developer, with extensive knowledge and 2 years of experience, working
        in web technologies and UI/UX design, delivering quality work.
      </p>

      <div class="about__info">
        <div>
          <span class="about__info-title">02+</span>
          <span class="about__info-name">Years <br> experience</span>
        </div>

        <div>
          <span class="about__info-title">10+</span>
          <span class="about__info-name">Completed <br> project</span>
        </div>

        <div>
          <span class="about__info-title">02+</span>
          <span class="about__info-name">Companies <br> Worked</span>
        </div>
      </div>

      <div class="about__buttons">
        <a download="" href="assets/pdf/CV-Valentina Morales.pdf" class="button button--flex">
          Download CV<i class="uil uil-download-alt button__icon"></i>
        </a>
      </div>
    </div>
  </div>
</section>
