<section class="portfolio section" id="portfolio">
  <div class="portfolio_header">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Most recent work</span>
  </div>
  <div class="portfolio__container container">
    <div *ngFor="let project of projects" class="portfolio__content">
      <img src="assets/img/{{project.img}}" alt="" class="portfolio__img">
      <div class="portfolio__data">
        <h3 class="portfolio__title">{{project.title}}</h3>
        <p class="portfolio__description">{{project.description}}</p>
        <a href="{{project.link}}" target="_blank" class="button button--flex button--small portfolio__button">
          Demo <i class="uil uil-arrow-right button__icon"></i>
        </a>
      </div>
    </div>
  </div>
</section>
